.authors_selection {
  .author_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: var(--size-2);

    a {
      width: 100%;
      background-color: var(--colorPrimary-100);
      color: var(--colorNeutral-400);
      border-radius: var(--size-3);

      .author_card {
        padding: var(--size-2-5);
        .title {
          font-size: clamp(var(--size-3-5), -1.3977rem + 4.5455vw, var(--size-6));
          font-weight: 700;
        }
        p {
          font-size: clamp(var(--size-3), 0.2955rem + 0.9091vw, var(--size-3-5));
          font-weight: 400;

          .author_svg {
            height: var(--size-2-5);
            stroke: var(--colorNeutral-400);
          }
        }
      }
    }

    a:hover,
    a:focus {
      background-color: var(--colorPrimary-200);
      color: var(--colorNeutral-100);

      .author_card {
        p .author_svg {
          stroke: var(--colorNeutral-100);
        }
      }
    }
  }
}

/* Tablet */
@media (min-width: 650px) {
  .authors_selection {
    .author_section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: start;
      gap: var(--size-4);
    }
  }
}

/* Desktop */
@media (min-width: 1060px) {
  .authors_selection {
    .author_section {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
