.book_selection {
  .book_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: var(--size-7) var(--size-3);

    a {
      background-color: var(--colorPrimary-100);
      color: var(--colorNeutral-400);
      width: 100%;
      border-radius: var(--size-3);

      .book_card {
        height: 100%;

        .text_container {
          padding: var(--size-2-5);

          p {
            font-size: clamp(var(--size-3), 0.2955rem + 0.9091vw, var(--size-3-5));
            font-weight: 400;
            .svg {
              height: var(--size-2-5);
              stroke: var(--colorNeutral-400);
            }
          }
          .title {
            font-size: clamp(var(--size-3-5), -1.3977rem + 4.5455vw, var(--size-6));
            font-weight: 700;
            margin-bottom: var(--size-2);

            /* if we want to control the lenght of the title */
            /* max-width: 10ch;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis; */
          }
        }

        .book_image_container {
          border-top-right-radius: var(--size-3);
          border-top-left-radius: var(--size-3);
          aspect-ratio: 1/1;
          overflow: hidden;
          background-color: var(--colorNeutral-100);

          .book_card_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
          }
        }
      }
    }

    a:hover,
    a:focus {
      background-color: var(--colorPrimary-200);
      color: var(--colorNeutral-100);

      .book_card .text_container p .svg {
        stroke: var(--colorNeutral-100);
      }
    }
  }
}
/* Tablet */
@media (min-width: 650px) {
  .book_selection {
    .book_section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: start;
      gap: var(--size-14) var(--size-5);
    }
  }
}

@media (min-width: 800px) {
  .book_selection {
    .book_section {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/* loader */
.loading_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-72);
  width: 100%;

  #loader {
    z-index: -1; /* To make it appear behind the header (if scrolled) */
    fill: var(--colorPrimary-200);
    height: var(--size-40);
    animation: loader 1s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.appear {
  animation: appear 0.5s linear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
