main {
  display: grid;
}
h4 {
  font-size: clamp(var(--size-5-5), -3.1705rem + 9.0909vw, var(--size-10-5));
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("/assets/images/landing_hero_mobile.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 0 var(--size-2-5);

  h2 {
    font-size: var(--size-13);
    font-style: normal;
    font-weight: 900;
    color: var(--colorPrimary-200);
    text-align: end;
    letter-spacing: var(--size-0-5);
    margin-bottom: 0;
  }

  #subtitle {
    margin-bottom: 35%;

    h3 {
      font-size: var(--size-6);
      font-weight: 800;
      text-align: end;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: var(--size-2);

      span {
        background-color: var(--colorPrimary-200);
        color: var(--colorSecondary-100);
        width: fit-content;
        padding: 0 var(--size-0-5);
      }
    }
  }
}

.books_section {
  justify-self: center;
  width: 100%;
  max-width: var(--size-335);
  padding: var(--size-4) var(--size-2-5);
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
  .book_selection {
    .fifth_book {
      display: none;
    }
  }
}

.authors_section {
  justify-self: center;
  width: 100%;
  max-width: var(--size-335);
  padding: var(--size-4) var(--size-2-5);
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
}

.more_btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: var(--size-2);
  color: var(--colorSecondary-200);
  font-size: var(--size-3-5);
  width: fit-content;

  img {
    height: var(--size-2-5);
  }
}
.more_btn:hover {
  text-decoration: underline;
}

/* Mobile device in horizontal mode */
@media (min-height: 650px) {
  #hero {
    height: 75vh;
  }
}

/* Tablet */
@media (min-width: 650px) {
  #hero {
    background-image: url("/assets/images/landing_hero.jpg");

    h2 {
      font-size: var(--size-28);
    }

    #subtitle {
      margin-bottom: var(--size-28);

      h3 {
        font-size: var(--size-10);
        span {
          padding: 0 var(--size-7);
        }
      }
    }
  }
}

/* Media query for showing extra book in books section */
@media (min-width: 800px) {
  .books_section .book_selection {
    .fifth_book {
      display: block;
    }
  }
}
/* Desktop */
@media (min-width: 1060px) {
  #hero {
    background-image: url("/assets/images/landing_hero.jpg");
    height: 80vh;

    h2 {
      font-size: var(--size-48);
    }

    #subtitle {
      margin-bottom: var(--size-32);

      h3 {
        font-size: var(--size-14);
      }
    }
  }
  .more_btn {
    font-size: var(--size-4);

    img {
      height: var(--size-2-5);
    }
  }
  .more_btn:hover {
    text-decoration: underline;
  }
}

/* Desktop MAX */
@media (min-width: 1310px) {
  #hero {
    h2 {
      font-size: var(--size-60);
    }
  }
}
