@import "_variables.css";
<<<<<<< Updated upstream
=======

@import "_navigation.css";
>>>>>>> Stashed changes

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
}

a {
  text-decoration: none;
}
