@import "_variables.css";
@import "__bookcard.css";
@import "__authorcard.css";

@import "_navigation.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
}

a {
  text-decoration: none;
}
